@font-face {
	font-family: 'African';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url('/African.eot');
	src: url('/African.eot?#iefix') format('embedded-opentype'),
		url('/African.woff') format('woff'),
		url('/African.svg#African') format('svg');
	unicode-range: U+0000-001F, U+0021-007F;
}

:root {
	/* --cm-blue: rgb(25, 55, 129); */
	--cm-yellow-bright: #FBED9C;
	--cm-yellow: #fdc400;
	--cm-blue: #1a3882;
	--cm-text-blue: #193781;
	--cm-red: #ca1e15;
	--cm-orange: #ebae3d;
	--cm-sand: #edd2aa;
	--cm-dark-orange: #c88a35;

	--white: #ccc;

	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;

	--background-color: var(--cm-dark-orange);
	--primary-color: var(--cm-text-blue);
	--secondary-color: var(--cm-red);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
	:root {
		--white: #fff;
		--color: var(--cm-blue);
		--background-color: var(--cm-sand);
	}
}

body {
	margin: 0;
	min-height: 100vh;

	background-color: var(--background-color);
	color: var(--primary-color);
}

h1, h2, h3 {
	color: var(--secondary-color);
}

a,
a:visited {
	color: var(--white);
	text-decoration: none;
	border-bottom: 0.0625rem solid var(--cm-red);
}

a:hover {
	border-bottom-color: var(--cm-orange);
}


#app {
	display: contents;
}

.la-✋ {
	max-width: 80rem;
	margin: 0 auto;
	padding: 0.125rem;
}

.font--mate {
	font-family: 'African';  
	color: var(--cm-blue);
}

.card {
	margin: 0 auto;
	padding: 1rem;
	border-image: url('/card-border.png') 30 / 19px round;
}

.card--mini {
	max-width: 42rem;
}
.card-content {
	padding: 0.5rem;
	background: radial-gradient(var(--cm-yellow-bright), var(--cm-yellow));
	border-radius: 1rem;
	text-align: center;
}

.card--mini .card-content {
	font-size: 2rem;
	line-height: 1.5;
}

@media only screen and (min-width: 30em) {
	.la-✋ {
		padding: 1rem;
	}
	.card-content {
		padding: 1rem;
		text-align: left;
	}
}

h1 {
	font-size: 3.2em;
	line-height: 1.5;
	text-align: center;

}

.input,
.btn {
	padding: 1rem 2rem;
	border: 0;
	border-radius: 0.5rem;
	font-size: 1.2rem;
	line-height: 1.5;
	background: rgba(255, 255, 255, 0.86);
	box-shadow: 0 0.25rem 0.875rem 0 rgba(253, 196, 0, 0.9);
	color: var(--cm-blue);
}


.btn {
	--btn-text-color: var(--cm-blue);
	--btn-accent-color: var(--cm-blue);
	margin: 0.8rem;
	border: 0.2rem solid var(--btn-accent-color);
	background: rgba(255, 255, 255, 0.86);
	box-shadow: 0 0.25rem 0.875rem 0 rgba(253, 196, 0, 0.9);
	color: var(--btn-text-color);
}
.btn:hover {
	background: var(--btn-accent-color);
	color: var(--white);
	cursor: pointer;
}
.btn:active {
	background-color: #0c2462;
	color: var(--white);
}
.btn:focus-visible {
	outline: none;
	background: var(--btn-accent-color);
	color: var(--white);
	box-shadow: 0 0 0 0.0625rem var(--cm-yellow-bright),
		0 0 0 0.3rem var(--cm-red);
}

.footer {
	padding: 1rem 3rem;
	background-color: #0c2462;
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
}

